:root {
  /* baggrunds farver 1 og 2  */
  --color-bg: #302e2c;
  --color-bg2: #fff8ee;

  /* header farve */
  --color-head-bg: #302e2c;

  /* Tekst farver */
  --color-text: #1d1d1d;
  --color-text2: #fcfcfc;

  /* knapper */
  --color-btn: #ff7fec;
  --color-btn-hover: #bc57ad;

  /* font families */
  --font-heading: "Gravitas One", serif;
  --font-body: "PT Sans", sans-serif;
  --font-h2: "Inria Serif", serif;

  /* overskrift størrelse  */
  --font-h1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;

  /* tekst størrelser  */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;

  /*  Marginer */
  --margin-head-bottom: 5px;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
}

h1 {
  font-family: var(--font-heading);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-h2);
}
