:root {
  /* baggrunds farver 1 og 2  */
  --color-bg: (#302e2c);
  --color-bg2: (#fff8ee);

  /* header farve */
  --color-head-bg: (#302e2c);

  /* Tekst farver */
  --color-text: (#1d1d1d);
  --color-text2: (#fcfcfc);

  /* knapper */
  --color-btn: (#ff7fec);
  --color-btn-hover: (#bc57ad);

  /* overskrift størrelse  */
  --font-h1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;

  /* tekst størrelser  */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  /* --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem; */

  /*  Marginer */
  --margin-head-bottom: 5px;
}
