header {
  background-color: var(--color-bg);
}

main {
  background-color: var(--color-bg);
  color: var(--color-text2);
  padding: 5rem;
  align-items: center;
}

.b1 {
  background-color: var(--color-bg);
  color: var(--color-text2);
  padding: 5rem;
  font-size: 1.5rem;
}

.b2 {
  background-color: var(--color-bg2);
  color: var(--color-text);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  padding: 5rem;
  font-size: 1.5rem;
}

h1 {
  font-family: "Gravitas One", serif;
  font-size: 48px;
}

main > h2 {
  text-align: center;
  margin: 0 0 2rem 0;
  width: 100%;
  font-family: var(--font-heading);
  font-size: 2rem;
  line-height: 1.2;
}

/* grid med billeder */

.grid1-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.grid1-3 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.grid1-3 img:nth-child(3) {
  grid-column: 3;
  grid-row: 1 / 3;
}

/* tema knapper  */

.tema-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  justify-items: center;
  margin-top: 4rem;
}

.tema-knap {
  width: 220px;
  height: 220px;

  background-color: var(--color-bg2);
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inria Serif", serif;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
}

.tema-knap:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.416);
}

/* pink knap til om mig siden */

.button {
  width: 100px;
  height: 50px;

  background-color: var(--color-btn);
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inria Serif", serif;
  font-size: 1rem;
  color: var(--color-text2);
  text-decoration: none;
}

.button:hover {
  transform: translate(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.302);
}

/* footer  */

footer {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
}
