/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
  background-color: #2f2e2c;
}

.menu {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.menu a {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.menu a:hover {
  text-decoration: underline;
}

.logo {
  font-family: "Gravitas One", serif;
  font-size: 2.5rem;
  color: #fff;
}
.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
}

/* main */
.a {
  color: var(--color-btn);
}

/* mobil version */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 2rem;
    background-color: #2f2e2c;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .burger {
    display: block;
  }
}
